<!DOCTYPE html>
<html lang="en">

<head>
    <title>Panel Administrador</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!--Aqui va el sideBar-->
            <div class="col-sm-1">
                <div class="sidebar">
                    <div class="logo_details">
                        <i class="material-icons"></i>
                        <div class="logo_name">Admin</div>
                        <i class="bx bx-menu" id="btn"></i>
                    </div>
                    <ul class="nav-list">
                        <li>
                            <i class="bx bx-search"></i>
                            <input type="text" placeholder="Search...">
                            <span class="tooltip">Search</span>
                        </li>
                        <li>
                            <a href="http://localhost:3000/adminPanel/user">
                                <i class="material-icons">person</i>
                                <span class="link_name">Usuarios</span>
                            </a>
                            <span class="tooltip">Usuarios</span>
                        </li>
                        <li>
                            <a href="http://localhost:3000/adminPanel/productos">
                                <i class="material-icons">inventory_2</i>
                                <span class="link_name">Productos</span>
                            </a>
                            <span class="tooltip">Productos</span>
                        </li>
                        <li>
                            <a href="http://localhost:3000/adminPanel/ventas">
                                <i class="material-icons">point_of_sale</i>
                                <span class="link_name">Ventas</span>
                            </a>
                            <span class="tooltip">Ventas</span>
                        </li>
                        <li>
                            <a href="http://localhost:3000/adminPanel/categorias">
                                <i class="material-icons">category</i>
                                <span class="link_name">Categorias</span>
                            </a>
                            <span class="tooltip">Categorias</span>
                        </li>
                        <li>
                            <a href="http://localhost:3000/adminPanel/roles">
                                <i class="material-icons">groups</i>
                                <span class="link_name">Roles</span>
                            </a>
                            <span class="tooltip">Roles</span>
                        </li>
                        <li>
                            <a href="http://localhost:3000/adminPanel/direcciones">
                                <i class="material-icons">place</i>
                                <span class="link_name">Direcciones</span>
                            </a>
                            <span class="tooltip">Direcciones</span>
                        </li>
                        <li>
                            <a href="http://localhost:3000/adminPanel/colores">
                                <i class="material-icons">palette</i>
                                <span class="link_name">Colores</span>
                            </a>
                            <span class="tooltip">Colores</span>
                        </li>
                        <li class="profile">
                            <div class="profile_details">
                                <img src="profile.jpeg" alt="profile image">
                                <div class="profile_content">
                                    <div class="name">Anna Jhon</div>
                                    <div class="designation">Admin</div>
                                </div>
                            </div>
                            <i class="bx bx-log-out" id="log_out"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <!--Aqui va la tabla-->
            <div class="col-md-11 mt-4 mb-5">
                <h2>Nuevo Producto</h2>
                <form id="formularioProducto">
                    <div class="form-group">
                        <label for="codigo_barras">Código de barras:</label>
                        <input type="text" class="form-control" id="codigo_barras" name="codigo_barras" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="marca">Marca:</label>
                        <input type="text" class="form-control" id="marca" name="marca" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen:</label>
                        <input type="text" class="form-control" id="imagen" name="imagen" required>
                    </div>
                    <div class="form-group">
                        <label for="compra">Precio de compra:</label>
                        <input type="number" class="form-control" id="compra" name="compra" required>
                    </div>
                    <div class="form-group">
                        <label for="precio_unitario">Precio unitario:</label>
                        <input type="number" class="form-control" id="precio_unitario" name="precio_unitario" required>
                    </div>
                    <div class="form-group">
                        <label for="precio_mayoreo">Precio al por mayor:</label>
                        <input type="number" class="form-control" id="precio_mayoreo" name="precio_mayoreo" required>
                    </div>
                    <div class="form-group">
                        <label for="precio_caja">Precio de la caja:</label>
                        <input type="number" class="form-control" id="precio_caja" name="precio_caja" required>
                    </div>
                    <div class="form-group">
                        <label for="inicio_mayoreo">Inicio del precio al por mayor:</label>
                        <input type="number" class="form-control" id="inicio_mayoreo" name="inicio_mayoreo" required>
                    </div>
                    <div class="form-group">
                        <label for="inicio_caja">Inicio del precio de la caja:</label>
                        <input type="number" class="form-control" id="inicio_caja" name="inicio_caja" required>
                    </div>
                    <!-- Campo select para colores -->
                    <div class="form-group">
                        <label for="id_color">Color:</label>
                        <select class="form-control" id="id_color" name="id_color" required>
                            <option value="" disabled selected>Seleccionar un color</option>
                            <% colores.forEach(color=> { %>
                                
                                <option value="<%= color.id_color %>">
                                    <%= color.color %>
                                </option>
                                <% }); %>
                        </select>
                    </div>

                    <!-- Campo select para categorías -->
                    <div class="form-group">
                        <label for="id_categoria">Categoría:</label>
                        <select class="form-control" id="id_categoria" name="id_categoria" required>
                            <option value="" disabled selected>Seleccionar una categoría</option>
                            <% categorias.forEach(categoria=> { %>
                                <option value="<%= categoria.id_categoria %>">
                                    <%= categoria.categoria %>
                                </option>
                                <% }); %>
                        </select>
                    </div>

                    <!-- Campo select para tipos -->
                    <div class="form-group">
                        <label for="id_tipo">Tipo:</label>
                        <select class="form-control" id="id_tipo" name="id_tipo" required>
                            <option value="" selected>Seleccionar un tipo</option>
                            <% if (tipos && tipos.length) { %>
                                <% tipos.forEach(tipo => { %>
                                    <option value="<%- tipo.id_tipo %>">
                                        <%- tipo.tipo %>
                                    </option>
                                <% }); %>
                            <% } %>
                        </select>
                    </div>
                    

                    <button type="button" class="btn btn-primary" onclick="saveOrUpdate()">Guardar Producto</button>
                </form>
            </div>
        </div>
    </div>

    <!--Modal-->
    <div class="modal" id="responseModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="modal-body__message">Message</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="hideModal()">Close</button>
            </div>
          </div>
        </div>
    </div>

    <!-- Scripts -->
    <script>
        // console.log("location:",location.href)
    </script>
    <script src="/js/script.js"></script>
    <!-- <script src="/js/ventas.js"></script> -->
    <script src="/js/producto.js"></script>
    <script src="/js/categoria.js"></script>
    <!-- <script src="/js/rol.js"></script>
    <script src="/js/envio.js"></script> -->
    <script src="/js/color.js"></script>
</body>

</html>