<!DOCTYPE html>
<html lang="en">

<head>
    <title>Panel Administrador</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <head>
        <style>
            .nombre-col {
                width: 200px;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .color-circle {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                /* Hace que el div tenga forma de círculo */
                margin-right: 5px;
                /* Agrega un espacio entre el círculo y el texto */
                border: 1px solid #ccc;
                /* Agrega un borde al círculo */
            }
        </style>
    </head>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!--Aqui va el sideBar-->
            <div class="col-sm-1">
                <div class="sidebar">
                  <div class="logo_details">
                      <i class="material-icons"></i>
                      <div class="logo_name">Admin</div>
                      <i class="bx bx-menu" id="btn"></i>
                  </div>
                  <ul class="nav-list">
                      <li>
                          <i class="bx bx-search"></i>
                          <input type="text" placeholder="Search...">
                          <span class="tooltip">Search</span>
                      </li>
                      <li>
                          <a href="http://localhost:3000/adminPanel/user">
                              <i class="material-icons">person</i>
                              <span class="link_name">Usuarios</span>
                          </a>
                          <span class="tooltip">Usuarios</span>
                      </li>
                      <li>
                          <a href="http://localhost:3000/adminPanel/productos">
                              <i class="material-icons">inventory_2</i>
                              <span class="link_name">Productos</span>
                          </a>
                          <span class="tooltip">Productos</span>
                      </li>
                      <li>
                          <a href="http://localhost:3000/adminPanel/ventas">
                              <i class="material-icons">point_of_sale</i>
                              <span class="link_name">Ventas</span>
                          </a>
                          <span class="tooltip">Ventas</span>
                      </li>
                      <li>
                          <a href="http://localhost:3000/adminPanel/categorias">
                              <i class="material-icons">category</i>
                              <span class="link_name">Categorias</span>
                          </a>
                          <span class="tooltip">Categorias</span>
                      </li>
                      <li>
                          <a href="http://localhost:3000/adminPanel/roles">
                              <i class="material-icons">groups</i>
                              <span class="link_name">Roles</span>
                          </a>
                          <span class="tooltip">Roles</span>
                      </li>
                      <li>
                          <a href="http://localhost:3000/adminPanel/direcciones">
                              <i class="material-icons">place</i>
                              <span class="link_name">Direcciones</span>
                          </a>
                          <span class="tooltip">Direcciones</span>
                      </li>
                      <li>
                          <a href="http://localhost:3000/adminPanel/colores">
                              <i class="material-icons">palette</i>
                              <span class="link_name">Colores</span>
                          </a>
                          <span class="tooltip">Colores</span>
                      </li>
                      <li class="profile">
                          <div class="profile_details">
                              <img src="profile.jpeg" alt="profile image">
                              <div class="profile_content">
                                  <div class="name">Anna Jhon</div>
                                  <div class="designation">Admin</div>
                              </div>
                          </div>
                          <i class="bx bx-log-out" id="log_out"></i>
                      </li>
                  </ul>
              </div>
              </div>

            <div class="col-md-11 mt-4">
                <button class="btn btn-primary m-2">
                    <a href="http://localhost:3000/adminPanel/productos/formProducto" class="text-dark text-decoration-none">Agregar</a>
                </button>
                <% if (productos && productos.length> 0) { %>
                    <table class="table table-bordered table-striped">
                        <thead class="table-primary">
                            <tr>
                                <th>Código de barras</th>
                                <th class="nombre-col">Nombre</th>
                                <th>Marca</th>
                                <th>Imagen</th>
                                <th>Compra</th>
                                <th>Precio Unitario</th>
                                <th>ID Color</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% productos.forEach(function(producto) { %>
                                <tr>
                                    <td>
                                        <%= producto.codigo_barras %>
                                    </td>
                                    <td>
                                        <%= producto.nombre %>
                                    </td>
                                    <td>
                                        <%= producto.marca %>
                                    </td>
                                    <td>
                                        <img src="<%= producto.imagen.url[0] %>" alt="" style="max-width: 100px; max-height: 100px; object-fit: cover;">
                                    </td>
                                    <td>
                                        <%= producto.compra %>
                                    </td>
                                    <td>
                                        <%= producto.precio_unitario %>
                                    </td>
                                    <td>
                                        <%= producto.color.color %>
                                    </td>
                                    <td class="text-center">
                                        <!-- Botones para las opciones -->
                                        <a href="http://localhost:3000/adminPanel/productos/productcard/<%= producto.id_producto %>"
                                            class="btn btn-info">
                                            <i class="material-icons">visibility</i>
                                        </a>
                                        <a href="#" class="btn btn-danger"
                                            onclick="deleteItem('<%= producto.id_producto %>')">
                                            <i class="material-icons">delete</i>
                                        </a>
                                        <a href="#" class="btn btn-warning">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <p class="text-center">No hay datos disponibles.</p>
                        <% } %>
            </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/user.js"></script>

</html>